:root{
    --black_feather: #0F2026;
    --sea_of_atlantis: #2E5559;
    --oil_blue: #648C85;
    --mount_hyjal: #39733D;
    --winter_morn: #D9D8D7;
}

body{
    background-color: var(--black_feather);
}

hr{
    color: var(--sea_of_atlantis);
}

h4{
    color: var(--mount_hyjal);
}

.card{
    background-color: var(--black_feather);
}

.pos-header{
    color: var(--oil_blue) !important;
}

#profile-wrapper{
    text-align: center;
}

#profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul{
    padding: 0;
    list-style-type: none;
}

.social-links ul, li{
    list-style-type: none;
    display: inline-block;
}

.social{
    width: 20px;
    height: 20px;
}

.header{
    color: var(--sea_of_atlantis);
    font-weight: 600;
}

p{
    color: var(--winter_morn);
}
